*,
*:focus,
*:active,
*:focus-within {
  outline: none;
}

:root {
  // Shadow
  --shadow: 0 5px 25px 10px rgba(0, 0, 0, 0.2);

  // Padding/Margin
  --p: 0.5rem;
  --p-m: 1rem;
  --p-l: 2rem;
  --m: 0.5rem;
  --m-m: 1rem;
  --m-l: 2rem;

  // Icons
  --icon-s: 1rem;
  --icon-m: 1.5rem;
  --icon-l: 2rem;

  // Color
  // https://colorhunt.co/palette/f38181fce38aeaffd095e1d3
  --elevate-2: rgb(220, 220, 220);
  --elevate-1: rgb(240, 240, 240);
  --elevate: rgb(247, 247, 247);
  --light-gray: rgb(155, 155, 155);
  --gray: rgb(120, 120, 120);
  --black: rgb(69, 68, 55);

  --primary: rgb(149, 225, 211);
  --secondary: rgb(234, 255, 208);
  --warning: rgb(252, 227, 138);
  --error: rgb(243, 129, 129);
}

html,
body,
#__next {
  height: 100%;
}

a {
  display: inline-block;
}


.icon.icon-link {
  padding: 1rem;
  background: var(--black);
}