*,
*:focus,
*:active,
*:focus-within {
  outline: none;
}

:root {
  // Shadow
  --shadow: 0 5px 25px 10px rgba(0, 0, 0, 0.2);

  // Padding/Margin
  --p: 0.5rem;
  --p-m: 1rem;
  --p-l: 2rem;
  --m: 0.5rem;
  --m-m: 1rem;
  --m-l: 2rem;

  // Icons
  --icon-s: 1rem;
  --icon-m: 1.5rem;
  --icon-l: 2rem;

  // Color
  // https://colorhunt.co/palette/f38181fce38aeaffd095e1d3
  --elevate-2: #f1f1f1;
  --elevate-1: #f5f5f5;
  --elevate: #f9f9f9;
  --light-gray: #e1e1e1;
  --gray: #a1a1a1;

  --primary: #95E1D3;
  --secondary: #EAFFD0;
  --warning: #FCE38A;
  --error: #F38181;
}


html, body, #__next {
  height: 100%;
}

a {
  display: inline-block;
}