.slot {
  display: flex;
  align-items: center;
  border: solid 1px;
  border-color: var(--border-color);

  > button {
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover > button{
    opacity: 1;
  }
}
