.slot {
  display: flex;
  align-items: center;
  > button {
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover > button,
  &:focus > button,
  &:active > button,
  &:focus-within > button {
    opacity: 1;
  }
}
